@import "../../styles.scss";

.video-main {
    background-color: black;
    color: white;
    height: max-content;
    padding: 2em 0;
}

.picture-main {
    background-color: black;
    color: white;
    height: max-content;
    padding-bottom: 1em;

    .carousel {
        background-color: black;
        max-width: 1250px;
        margin: 0 auto;
    }

    .carousel-inner {
        .carousel-image {
            @media (max-width: 768px) {
                height: 325px;
            }
            @media (min-width: 769px) {
                height: 650px;
            }

            img {
                object-fit: contain;
                height: 100%;
                width: 100%;
            }
        }
    }   

    .picture-wrapper {

        padding: 1.5em;
        img {
            max-width: 450px;
            max-height: 300px;
            transition: transform .2s;
        }
        img:hover {
            transform: scale(1.10);
        }
    }
}
