<div class="main container-fluid text-left">
  <div class="content">
    <img id="headshot" src="../../assets/pictures/headshot.jpg" alt="main_headshot.jpg">
    
    <p>Rachel Kobernick is a lyric coloratura soprano based in Rochester, NY.
      As she pursues her studies in vocal performance, Rachel focuses mainly on performance of baroque 
      and bel canto repertoire. Most recently, her role engagements include <b>Bubikopf in
      Ullman's Der Kaiser von Atlantis</b> and <b>Jessie in Mahagonny Songspiel by Kurt Weill</b>, 
      as well as <b>La Princesse in Eastman Opera Theatre’s production of L’enfant et les Sortilèges</b>. 
      Rachel also frequently performs with Eastman's Collegium Musicum ensemble, 
      in roles such as <b>First Grazie in Luigi Rossi’s Orfeo and First Fairy in Purcell's The Fairy King.</b></p> 

    <p>Rachel has performed in master classes for the Metropolitan Opera’s Chris Merrit and Harolyn Blackwell.
      This past year, she performed as the soprano soloist within Eastman’s Bach Cantata series as well as Handel’s Messiah. 
      During the summers, Rachel has had the privilege to perform in language and scene study programs such as the Washington 
      National Opera Institute and Classical Lyric Arts, Inc.</p>
      
      <p>Aside from performing, Rachel has  gained experience in stage management and opera direction, 
        working professionally with the Ohio Light Opera Company during the summer of 2018 and with the 
        Eastman Opera Theatre for over six productions. Rachel is currently the cantorial soloist for Etz 
        Chaim Congregation in Fairport, NY, where she also teaches elementary music to the religious school 
        students. </p>
        
      <p>Rachel currently studies with Robert Swensen at the Eastman School of Music, and is honored to have 
        worked with renowned coaches such as Russel Miller and Berri Garver. In addition to her focus on opera, 
        production, and outreach, Rachel has a love for languages and is currently in pursuit of an Italian minor. </p>
        
      <p>Rachel is originally from West Chester, Pennsylvania where she grew up playing piano and writing music.</p>
      <!-- <div class="download-buttons container-fluid text-center">
        <button type="button" class="btn download-button"><i>Download Short Bio</i></button>
        <button type="button" class="btn download-button"><i>Download Full Bio</i></button>
      </div>      -->
  </div>
</div>
