<div class="black">
    <div class="bg jarallax" style="background-image: url(assets/pictures/background_black_and_white_blurred.jpg);">
        <div class="main container text-center align-middle">
            <div class="download-buttons container">
                <div id="left">
                    <div id="left-content">
                        <h1>Press Kit</h1>
                        <p><i>Download Media</i></p>
                    </div>
                </div>
                <div id="download-links">
                    <button type="button" class="btn">Performance Resume</button>
                    <button type="button" class="btn">Employment Resume</button>
                    <button type="button" class="btn">Repertoire List</button>
                    <button type="button" class="btn">Full Biography</button>
                    <button type="button" class="btn">Short Biography</button>
                </div>
            </div>
        </div>
    </div>
</div>
