<div class="main container-fluid text-center">
    <div id="contact container">
        <div class="row justify-content-center">
            <a href="https://www.facebook.com/rach.rox.998" target="_blank" rel="noopener noreferrer">
                <i class="fa-3x fab fa-facebook"></i>
            </a>
            <a href="https://www.youtube.com/channel/UCJqIoSQ3ARG01F77Lg3Syqg?view_as=subscriber" target="_blank" rel="noopener noreferrer">
                <i class="fa-3x fab fa-youtube"></i>
            </a>
            <a href="http://www.instagram.com/rachlala/?hl=en" target="_blank" rel="noopener noreferrer">
                <i class="fa-3x fab fa-instagram"></i>
            </a>
        </div>
        <p>
            <a href="mailto:rachel.kobernick@gmail.com" target="_blank" rel="noopener noreferrer"><b><i>rachel.kobernick@gmail.com</i></b></a>
        </p>
    </div>
</div>
