@import "../../styles.scss";

.main {
    padding: 2em;
    color: white;
    background-color: $main-accent-color;


    a {
        color: white;
        i {
            margin: 0 .5em .5em .5em;
        }
    }

    .fab {
        margin: 0 .5em .5em 0;
    }
}