<div id="main-anchor"></div>
<navigation></navigation>
<div id="foo"></div>
<div class="jarallax" id="backgroundHeadshot" style="background-image: url(assets/pictures/background_bw_hd.jpeg);">
<!-- <div class="jarallax" id="backgroundHeadshot" 
[style.background-image] = "'url(/assets/pictures/background_bw_hd.jpeg)'"
[style.background-repeat] = "'no-repeat'"
[style.background-size] = "'cover'"
[style.background-position-y] = "'35%'"> -->
</div>
<div class="divider"></div>

<div id="about-me-anchor"></div>
<about-me id="about-me"></about-me>
<media id="media-anchor"></media>
<events id="events-anchor"></events>
<press-kit id="press-kit-anchor"></press-kit>
<contact id="contact-anchor"></contact>
<router-outlet></router-outlet>